* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  max-width: 1280px;
}

.header {
  background-image: url(../../images/yellow_top_wave_01.png);
  background-size: cover;
  background-position: center;
  background-color: rgba(255, 255, 255, 0.3);
  padding-bottom: 125px;
  width: 100%;
  z-index: 10;
}
.header::before {
  content: "";
  width: 100%;
  height: 100%;
}
@media only screen and (max-width: 1020px) {
  .header {
    background-color: #fff;
    margin-bottom: 50px;
  }
}
.header .container {
  display: flex;
  justify-content: space-between;
}
@media only screen and (max-width: 1020px) {
  .header .container .logo {
    width: 10%;
  }
}
@media only screen and (max-width: 765px) {
  .header .container .logo {
    width: 20%;
    margin-bottom: 35px;
  }
}
.header .container .logo img {
  width: 100%;
}
.header .container .navbar {
  width: 75%;
}
@media only screen and (max-width: 765px) {
  .header .container .navbar {
    display: none;
  }
}
@media only screen and (max-width: 1020px) {
  .header .container .navbar {
    display: none;
  }
}
@media only screen and (max-width: 1250px) {
  .header .container .navbar {
    display: none;
  }
}
.header .container .navbar .nav-menu .navbar-menu ul {
  display: flex;
  justify-content: space-around;
  justify-items: center;
  margin-bottom: 0;
}
.header .container .navbar .nav-menu .navbar-menu ul li {
  list-style: none;
  padding: 0px 25px;
}
.header .container .navbar .nav-menu .navbar-menu ul li a {
  text-decoration: none;
  color: #191919;
  font-size: 13px;
  font-weight: 600;
}
.header .container .navbar .navbar-contact {
  display: flex;
  justify-items: center;
  width: 35%;
}
.header .container .navbar .navbar-contact .contact-phone {
  background-color: #B61984;
  border-radius: 30px;
  cursor: pointer;
  color: #fff;
  position: relative;
  display: inline-block;
  padding: 10px 5px;
}
.header .container .navbar .navbar-contact .contact-phone:hover {
  background-color: #fff;
  border: solid 1px #B61984;
  color: #B61984;
  transition: ease-out;
  transition-duration: 0.3s;
}
.header .container .navbar .navbar-contact .contact-phone a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
  font-size: 13px;
  padding: 14px 19px;
}
.header .container .navbar .navbar-contact .contact-phone a::before {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: #fff;
  transform: scale(0, 1);
  transition: transform 0.5s;
}
.header .container .navbar .navbar-contact .contact-phone a:hover {
  color: #B61984;
}
.header .container .navbar .navbar-contact .contact-phone a i {
  margin-right: 5px;
}
.header .container .navbar .contact-social {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
.header .container .navbar .contact-social .social-icon {
  padding: 0px 5px;
}
.header .container .navbar .contact-social .social-icon a {
  text-decoration: none;
  color: #191919;
}
.header .container .navbar .contact-social .social-icon a i {
  font-size: 13px;
}
.header .container .navbar .contact-social .social-icon a i:hover {
  color: #B61984;
}

.carousel {
  background: url(../../images/Violet_top_left_wave.png);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  padding-bottom: 80px;
  margin-top: -130px;
}
.carousel .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}
@media only screen and (max-width: 1020px) {
  .carousel .container {
    display: block;
    width: 95%;
  }
}
@media only screen and (max-width: 765px) {
  .carousel .container {
    display: block;
    width: 95%;
  }
}
.carousel .container .carousel-text {
  width: 50%;
}
@media only screen and (max-width: 1020px) {
  .carousel .container .carousel-text {
    width: 100%;
  }
}
.carousel .container .carousel-text h2 {
  font-size: 16.5px;
  color: #b21980;
  font-weight: 600;
}
.carousel .container .carousel-text p {
  font-size: 57px;
  color: #191919;
  font-weight: 700;
  line-height: 65px;
}
.carousel .carousel-img {
  width: 50%;
}
@media only screen and (max-width: 1020px) {
  .carousel .carousel-img {
    width: 100%;
  }
}
@media only screen and (max-width: 765px) {
  .carousel .carousel-img {
    width: 100%;
  }
}
.carousel .carousel-img img {
  width: 100%;
}

.teachers {
  background-color: #dcd1f3;
  background-image: url(../../images/Wave_White_bottom_right_shape_01.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.teachers .container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
@media only screen and (max-width: 1020px) {
  .teachers .container {
    width: 95%;
  }
}
@media only screen and (max-width: 765px) {
  .teachers .container {
    display: block;
    width: 95%;
  }
}
.teachers .container .teacher {
  width: 22.2222222222%;
  margin-bottom: 20px;
}
@media only screen and (max-width: 1020px) {
  .teachers .container .teacher {
    width: 47%;
  }
}
@media only screen and (max-width: 765px) {
  .teachers .container .teacher {
    width: 100%;
    margin: 0;
    box-shadow: none;
  }
}
.teachers .container .teacher:hover {
  box-shadow: 10px 12px 82px -1px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 10px 12px 82px -1px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 10px 12px 82px -1px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
}
.teachers .container .teacher .teacher-img img {
  width: 100%;
  border-radius: 8px 8px 0px 0px;
}
.teachers .container .teacher .teacher-info {
  text-align: center;
  border-radius: 0px 0px 8px 8px;
  background-color: #fff;
  align-items: center;
  padding: 25px;
}
.teachers .container .teacher .teacher-info .teacher-country-name span {
  font-size: 11.25px;
  color: #b21980;
  font-weight: 600;
}
.teachers .container .teacher .teacher-info .teacher-country-name p {
  font-size: 23.25px;
  color: #191919;
  font-weight: 600;
}
.teachers .container .teacher .teacher-info .teacher-professional p {
  font-size: 15px;
  color: #191919;
  font-weight: 400;
}

.course {
  background-image: url(../../images/accent_bottom_wave_01.png);
  background-position: bottom;
  background-size: cover;
  padding: 50px 0px;
}
@media only screen and (max-width: 1020px) {
  .course {
    margin-top: -2px;
  }
}
.course .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
@media only screen and (max-width: 1020px) {
  .course .container {
    display: block;
    width: 95%;
  }
}
@media only screen and (max-width: 765px) {
  .course .container {
    display: block;
    width: 90%;
  }
}
@media only screen and (max-width: 1020px) {
  .course .container .course-image {
    margin-bottom: 40px;
  }
}
.course .container .course-image img {
  width: 100%;
}
.course .container .course-contact {
  width: 33%;
  padding: 30px;
  box-shadow: 0px 15px 13px 4px rgba(0, 0, 0, 0.26);
  -webkit-box-shadow: 0px 15px 13px 4px rgba(0, 0, 0, 0.26);
  -moz-box-shadow: 0px 15px 13px 4px rgba(0, 0, 0, 0.26);
  border-radius: 8px;
  background-color: #fff;
}
@media only screen and (max-width: 1020px) {
  .course .container .course-contact {
    width: 100%;
  }
}
@media only screen and (max-width: 765px) {
  .course .container .course-contact {
    width: 100%;
  }
}
.course .container .course-contact .course-find-header h2 {
  font-size: 37.5px;
  color: #191919;
  font-weight: 700;
  margin-bottom: 25px;
}
.course .container .course-contact .course-find-input .name-email {
  display: flex;
  margin-bottom: 15px;
}
.course .container .course-contact .course-find-input .name-email .name {
  display: flex;
  width: 50%;
  margin-right: 10px;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px 20px;
}
.course .container .course-contact .course-find-input .name-email .name i {
  color: #B61984;
  margin-right: 10px;
}
.course .container .course-contact .course-find-input .name-email .name .input-name {
  width: 80%;
}
.course .container .course-contact .course-find-input .name-email .name .input-name input {
  width: 100%;
  border: none;
  color: #B61984;
}
.course .container .course-contact .course-find-input .name-email .name .input-name input:focus {
  outline: none;
}
.course .container .course-contact .course-find-input .name-email .email {
  display: flex;
  width: 50%;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px 20px;
}
.course .container .course-contact .course-find-input .name-email .email i {
  color: #B61984;
  margin-right: 10px;
}
.course .container .course-contact .course-find-input .name-email .email .input-email {
  width: 80%;
}
.course .container .course-contact .course-find-input .name-email .email .input-email input {
  width: 100%;
  border: none;
  color: #B61984;
}
.course .container .course-contact .course-find-input .name-email .email .input-email input:focus {
  outline: none;
}
.course .container .course-contact .course-find-input .choose-course {
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px 20px;
  width: 100%;
  cursor: pointer;
  margin-bottom: 15px;
}
.course .container .course-contact .course-find-input .choose-course i {
  color: #B61984;
  margin-right: 10px;
}
.course .container .course-contact .course-find-input .choose-course select {
  border: none;
  cursor: pointer;
  color: #B61984;
}
.course .container .course-contact .course-find-input .choose-course select:focus {
  outline: none;
}
.course .container .course-contact .course-find-input .message {
  display: flex;
  border: 0.5px solid rgba(0, 0, 0, 0.1);
  border-radius: 30px;
  padding: 10px 20px;
}
.course .container .course-contact .course-find-input .message i {
  color: #B61984;
  margin-right: 10px;
}
.course .container .course-contact .course-find-input .message textarea {
  overflow: auto;
  border: none;
  resize: none;
  color: #B61984;
}
.course .container .course-contact .course-find-input .message textarea:focus {
  outline: none;
}
.course .container .course-contact .course-find-button button {
  padding: 15px 55px;
  font-size: 11.25px;
  font-weight: 700;
  letter-spacing: 1px;
  color: #fff;
  background-color: #B61984;
  border: none;
  border-radius: 30px;
  margin-top: 30px;
}
@media only screen and (min-width: 768px) {
  .course .container .course-contact .course-find-button button {
    width: 100%;
  }
}

.footer {
  margin-top: -2px;
  padding-top: 100px;
  padding-bottom: 200px;
  background-image: url(../../images/footer_background.jpg);
  background-position: center;
  background-size: cover;
}
.footer .container {
  display: flex;
  justify-content: space-between;
  color: #fff;
}
@media only screen and (max-width: 1020px) {
  .footer .container {
    display: block;
    width: 95%;
  }
}
@media only screen and (max-width: 765px) {
  .footer .container {
    display: block;
    width: 95%;
  }
}
.footer .container .left {
  width: 65%;
  display: flex;
  justify-content: space-around;
}
@media only screen and (max-width: 1020px) {
  .footer .container .left {
    width: 100%;
    display: flex;
    margin-bottom: 50px;
  }
}
@media only screen and (max-width: 765px) {
  .footer .container .left {
    display: block;
  }
}
@media only screen and (max-width: 1020px) {
  .footer .container .left .contact {
    width: 50%;
  }
}
@media only screen and (max-width: 765px) {
  .footer .container .left .contact {
    margin-bottom: 50px;
  }
}
.footer .container .left .contact .contact-title h2 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media only screen and (max-width: 765px) {
  .footer .container .left .contact .contact-title {
    margin-bottom: -5px;
  }
}
.footer .container .left .contact .contact-info {
  margin-bottom: 25px;
}
.footer .container .left .contact .contact-info .contact-info-address {
  margin-bottom: 10px;
}
.footer .container .left .contact .contact-info .contact-info-address .addres-icon i {
  font-size: 13.5px;
  margin-right: 5px;
}
.footer .container .left .contact .contact-info .contact-info-address span {
  font-size: 13.5px;
}
.footer .container .left .contact .contact-info .contact-info-phone {
  margin-bottom: 10px;
}
.footer .container .left .contact .contact-info .contact-info-phone .phone-icon i {
  font-size: 13.5px;
  margin-right: 5px;
}
.footer .container .left .contact .contact-info .contact-info-phone span {
  font-size: 13.5px;
}
.footer .container .left .contact .contact-info .contact-info-workingTime .workingTime-icon i {
  font-size: 13.5px;
  margin-right: 5px;
}
.footer .container .left .contact .contact-info .contact-info-workingTime span {
  font-size: 13.5px;
}
@media only screen and (max-width: 765px) {
  .footer .container .left .contact .contact-icon {
    margin-top: -20px;
  }
}
.footer .container .left .contact .contact-icon a {
  text-decoration: none;
}
.footer .container .left .contact .contact-icon a i {
  font-size: 13.5px;
  color: #fff;
  margin-right: 10px;
}
.footer .container .left .contact .contact-icon a i:hover {
  color: #191919;
}
@media only screen and (max-width: 1020px) {
  .footer .container .left .link {
    width: 50%;
  }
}
@media only screen and (max-width: 765px) {
  .footer .container .left .link {
    margin-bottom: 30px;
  }
}
.footer .container .left .link .link-title h2 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media only screen and (max-width: 765px) {
  .footer .container .left .link .link-title h2 {
    margin-bottom: 20px;
  }
}
.footer .container .left .link .link-item {
  display: flex;
  flex-direction: column;
  width: 50%;
}
.footer .container .left .link .link-item a {
  text-decoration: none;
  color: #fff;
  font-size: 13.5px;
  border-bottom: 1px solid #990171;
  padding: 5px 0px;
}
@media only screen and (max-width: 1020px) {
  .footer .container .left .about {
    width: 50%;
  }
}
@media only screen and (max-width: 765px) {
  .footer .container .left .about {
    margin-bottom: 30px;
  }
}
.footer .container .left .about .about-title h2 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 25px;
}
@media only screen and (max-width: 765px) {
  .footer .container .left .about .about-title h2 {
    margin-bottom: 20px;
  }
}
.footer .container .left .about .about-item {
  display: flex;
  flex-direction: column;
}
.footer .container .left .about .about-item a {
  text-decoration: none;
  color: #fff;
  font-size: 13.5px;
  border-bottom: 1px solid #990171;
  padding: 5px 0px;
  border-bottom-width: 80%;
}
.footer .container .right {
  width: 25%;
}
@media only screen and (max-width: 765px) {
  .footer .container .right {
    width: 100%;
    align-items: center;
  }
}
.footer .container .right .subscribe .subscribe-title h2 {
  font-size: 23.25px;
  font-weight: 700;
  margin-bottom: 25px;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-input input {
  border: 1px solid rgba(255, 255, 255, 0.1);
  background-color: #b21980;
  color: #fff;
  padding: 10px 25px;
  border-radius: 30px;
  margin-bottom: 20px;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-input input::-moz-placeholder {
  color: #fff;
  text-align: center;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-input input:-ms-input-placeholder {
  color: #fff;
  text-align: center;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-input input::placeholder {
  color: #fff;
  text-align: center;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-input input:focus {
  outline: none;
}
@media only screen and (max-width: 765px) {
  .footer .container .right .subscribe .subscribe-item .subscribe-item-input input {
    padding: 10px 70px;
  }
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-button button {
  padding: 12px 78px;
  font-size: 13.5px;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 30px;
  border: none;
}
.footer .container .right .subscribe .subscribe-item .subscribe-item-button button:hover {
  background-color: #b21980;
  color: #fff;
  border: 1px solid #fff;
  transition: ease-out;
  transition-duration: 0.3s;
}
@media only screen and (max-width: 765px) {
  .footer .container .right .subscribe .subscribe-item .subscribe-item-button button {
    padding: 12px 123px;
  }
}