//color
$color-c0:#181818;
$color-c1:#191919;
$color-c2:#fff;
$color-c3:#b21980;
$color-c4:#B61984;
$color-c5:#dcd1f3;
$color-c6:#990171;


//font-size
$fs-xs:11.25px;
$fs-sm:13px;
$fs-sm1:13.5px;
$fs-md:15px;
$fs-lg:16.5px;
$fs-xl:23.25px;
$fs-xxl:37.5px;
$fs-xxxl:57px;

//font-weight
$fw-light: 300;
$fw-regular: 400;
$fw-semibold: 600;
$fw-bold: 700;

